@keyframes fr-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.logo svg {
  animation-name: fr-logo-spin;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0, 0.66, 0.47, 1.16);
  animation-delay: 1s;
  fill: var(--bs-body-color);
}
.logo {
  display: block;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}
/* 
@media (pointer: coarse) {
  .mouse-device {
    display: none !important;
  }
}
@media (pointer: fine) {
  .mobile-device {
    display: none !important;
  }
} */

/* -- HEADER -- */
#header-buttons {
  [role="button"] > span {
    display: none;
  }
}
  /* @media (width > var(--bs-breakpoint-xl)) { */
  @media (width >= var(--bs-breakpoint-xl)) {
#header-buttons {
  [role="button"] > span {
    display: inline;
  }
}
  }


/* -- HEADER -- */