#page-wrapper {
    height: 100vh;
    /* display: flex; */
}
#side-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#page-wrapper:not(.right-hand) #side-buttons {
    padding-left: 5px;
}

#page-wrapper.right-hand #side-buttons {
    padding-right: 5px;
    right: 0
}
@media(max-width:575.98px) {
    #page-wrapper:not(.right-hand) #main {
        padding-left: 42px;
    }
    #page-wrapper.right-hand #main {
        padding-right: 42px;
    }
    
}
#page-wrapper.right-hand #hand-theme .bi::before {
    transform: scale(-1, 1);
}

#page-wrapper:not(.right-hand) 
.offcanvas-header .btn-close {
    margin-left: calc(-0.5 * var(--bs-offcanvas-padding-x));
    margin-right: auto;
}

#side-buttons {
    bottom: 10%;
}
#side-buttons .btn {
    display: none;
    transition-behavior: allow-discrete;
    transition: opacity 0.5s, height 0.5s, display 1s;
    height: 0;
    opacity: 0;
}

#side-buttons .btn.is-active {
    display: inline-block;
    opacity: 1;
    height: auto;
}
/* BS CAROUSEL CUSTOM */
.carousel-indicators [data-bs-target] {
    width: 10px;
  height: 10px;
  border-radius:
5px;
  border:
1px;
transition-duration: 0.5s;
transition-property: width, opacity;
transition-timing-function: linear;
}

.carousel-indicators .active {
    width: 30px;
}
/* BS CAROUSEL CUSTOM */
